<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<nav th:replace="layouts :: navbar"></nav>

<body>
	<nav th:replace="layouts :: foo"></nav>
	<div class="container">
		<hr>
		<h4>Products directory</h4>
		<a th:href="@{/products/new}" class="btn btn-primary btn-sm mb-3">Add
			Product</a> <br></br>


		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Color</th>
					<th>Size</th>
					<th>Description</th>
					<th>Image First</th>
					<th>Image Second</th>
					<th>Image Third</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProduct : ${productsList}">
					<td th:text="${aProduct.name}" />
					<td th:text="${aProduct.price}" />
					<td th:text="${aProduct.color}" />
					<td th:text="${aProduct.size}" />
					<td th:text="${aProduct.des}" />
					<td th:text="${aProduct.image1}" />
					<td th:text="${aProduct.image2}" />
					<td th:text="${aProduct.image3}" />
			</tbody>
		</table>
	</div>

	<div class="col-md-4">
		<canvas id="myPieChart" height="50" width="50"></canvas>
		<script type="text/javascript">
			var chartData = "[[${projectStatusCnt}]]"
		</script>
	</div>

</body>
</html>
